<div class="row">
  <div class="col-md-12">
    <h1>Compute Capstone Evaluation Teamwork Results</h1>

    <p>Submissions currently available: <%= @course.capstone_evaluation_submissions.count + @lc_course.capstone_evaluation_submissions.count %> (out of <%= @course.students_and_lcs.count %> total users).</p>

    <% if @grade_capstone_eval_service.users_with_new_submissions.empty? %>
      <p>There are no new submissions ready to be computed.</p>
    <% else %>
      <p>Number of new submissions ready to be computed: <%= @grade_capstone_eval_service.users_with_new_submissions.count %></p>
      <p>To compute grades, click the 'Compute Capstone Evaluation Teamwork Results' button.</p>
    <% end %>

    <%= form_with(url: score_capstone_evaluation_results_path, method: "post",local: true) do |form| %>
      <%= form.hidden_field :lti_launch_id, value: @lti_launch.id %>
      <%= form.submit "Compute Capstone Evaluation Teamwork Results", class: 'btn btn-primary', data: { confirm: 'Are you sure? This will send Capstone Evaluation Teamwork grades to Canvas for all students.' } %>
    <% end %>
    <br>

    <%# Show this if there are still remaining users who need to submit Capstone Evals %>
    <% unless @grade_capstone_eval_service.remaining_users.empty? %>
      <p>Users who have not yet submitted Capstone Evaluations:</p>
      <ul>
        <% @grade_capstone_eval_service.remaining_users.each do |student| %>
          <li><%= student.full_name %></li>
        <% end %>
      </ul>
      <br>
    <% end%>

    <%# Show this if there are users with new ungraded submissions %>
    <% unless @grade_capstone_eval_service.users_with_new_submissions.empty? %>
      <p>Users with new Capstone Evaluation submissions that have not been computed:</p>
      <ul>
        <% @grade_capstone_eval_service.users_with_new_submissions.each do |student| %>
          <li><%= student.full_name %></li>
        <% end %>
      </ul>
      <br>
    <% end%>

    <%# Show this if there are users with graded submissions %>
    <% unless @grade_capstone_eval_service.users_with_published_submissions.empty? %>
      <p>Users who have submitted Capstone Evaluations that have been computed:</p>
        <ul>
          <% @grade_capstone_eval_service.users_with_published_submissions.each do |student| %>
            <li><%= student.full_name %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>