<h1>Capstone Evaluation Teamwork Grade</h1>
<% if @grade_capstone_eval_service.user_has_grade?(current_user) %>
  <h2>Total Score</h2>

  <p>Your Capstone Evaluation Teamwork total score is: <%= @grade_capstone_eval_service.fellow_total_score(current_user).round(2) %> / <%= CapstoneEvaluationQuestion::TOTAL_POINTS_POSSIBLE.round(2) %></p>

  <h2>Score Breakdown</h2>

  <ul>
    <% @grade_capstone_eval_service.grade_capstone_eval_questions(current_user, false).each do |question, score| %>
      <li><%= question %>: <%= score.round(2) %> / <%= CapstoneEvaluationQuestion::POINTS_POSSIBLE %></li>
    <% end %>
  </ul>
<% else %>
  <p>Your Capstone Evaluation Teamwork grade has not yet been calculated. Once all your peers give a review, the resulting score is aggregated and a final "grade" is given here. You will be able to see the breakdown of the score you got for each question. E.g. "Actively contributed to team success".</p>
<% end %>