<% content_for :title, 'Join Discord Server' %>
<h1>Get Started With Discord</h1>

<% if @discord_user.nil? %>
  <p>Complete Step 1, then come back to this page and complete the remaining steps.</p>

  <h2>Step 1: Sign In or Register for Discord</h2>
  <p>If you already have a Discord account, <a href="https://discord.com/login" target="_blank">sign in to Discord (opens in new tab)</a>.</p>

  <p>If you do not have a Discord account, please <a href="https://discord.com/register" target="_blank">create a Discord account (opens in new tab)</a>.</p>

  <h2>Step 2: Authorize Your Discord Account</h2>

  <p>In order to add you to the Braven Discord server, Braven needs temporary access to your Discord account. After you're all set up, you can revoke Braven's access at any time from your Discord account settings.</p>
  <p><a href="https://discord.com/api/oauth2/authorize?client_id=<%= Rails.application.secrets.discord_client_id %>&redirect_uri=<%= ERB::Util.url_encode(Rails.application.secrets.discord_redirect_uri) %>&response_type=code&scope=identify%20email%20guilds%20guilds.join&state=<%= @discord_state %>">Authorize Braven to access your Discord account</a>.</p>

<% else %>
  <% if @discord_user["email"].nil? %>
    <h2>Claim Your Account</h2>
    <p>Follow these instructions to set an email address and password for your Discord account (<strong><%= @discord_user["username"] %>#<%= @discord_user["discriminator"] %></strong>):</p>

    <p><strong>Step 1</strong>: Go to your <a href="https://discord.com/channels/@me">Discord homepage</a>.</p>

    <p><strong>Step 2</strong>: Click the gear icon in the lower left corner to go to your user settings.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-settings-gear1.png" alt="Find the Discord 'User Settings' button, next to the 'Mute' and 'Deafen' buttons." class="discord-signup">

    <p><strong>Step 3</strong>: At the top of the user settings, in the big red box, click the "Claim Your Account" button.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-claim-account1.png" alt="Find the 'Claim Your Account' button Under the headings 'My Account' and 'UNCLAIMED ACCOUNT' in Discord User Settings." class="discord-signup">

    <p><strong>Step 4</strong>: A pop-up box will appear for you to enter an email address and password. You may enter any email and password that you would like to use with Discord. This does not have to match the email you use for Braven.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-register-email.png" alt="In the 'Finish Signing Up' dialog, enter an email and password, and click 'Claim Your Account'." class="discord-signup">

    <p><strong>Step 5</strong>: Close out of the next pop-up that says a confirmation email has been sent to you.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-confirmation-email-popup-notification1.png" alt="Close the dialog that says 'Thanks! We've sent a confirmation link'" class="discord-signup">
  <% end %>

  <% unless @discord_user["verified"] %>
    <h2>Verify Your Email</h2>
    <p>Follow these instructions to verify the email associated with your Discord account (<strong><%= @discord_user["username"] %>#<%= @discord_user["discriminator"] %></strong>):</p>

    <% if @discord_user["email"] %>
      <p><strong>Step 1</strong>: Navigate to the email that you used to sign up for Discord (<strong><%= @discord_user["email"] %></strong>).
    <% else %>
      <p><strong>Step 1</strong>: Navigate to the email that you used to sign up for Discord.
    <% end %>
      Locate the Discord confirmation email with the subject "Verify Your Email Address for Discord".</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-verify-email-subject.png" alt="" class="discord-signup">

    <p><strong>Step 2</strong>: Open the email and click the blue "Verify Email" button. Then come back here and refresh this page to be added to the Braven Discord server!</p>

    <div class="d-flex justify-content-center">
      <%= link_to "Refresh", launch_discord_signups_path(lti_launch_id: @lti_launch.id), class: "btn btn-lg btn-primary btn-block discord-refresh-btn" %>
    </div>

    <p>If you cannot find the email, continue to <strong>Step 3</strong> below.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-verify-email-button1.png" alt="" class="discord-signup">

    <p>[Optional] <strong>Step 3</strong>: If you cannot find the email, go to your <a href="https://discord.com/channels/@me">Discord homepage</a>.</p>

    <p>[Optional] <strong>Step 4</strong>: Click the gear in the lower left corner to go to your user settings.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-settings-gear1.png" alt="Find the Discord 'User Settings' button, next to the 'Mute' and 'Deafen' buttons." class="discord-signup">

    <p>[Optional] <strong>Step 5</strong>: At the top of the user settings, click the "Resend Verification Email" button. Navigate to your email, open the verification email, and click the blue "Verify Email" button. </p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-resend-verification-email1.png" alt="Find the 'Resend Verification Email' button Under the headings 'My Account' and 'UNVERIFIED EMAIL' in Discord User Settings." class="discord-signup">

    <p><strong>Step 6</strong>: Once you're all set up, click the button below to refresh this page and be added to the Braven Discord server!</p>

    <div class="d-flex justify-content-center">
      <%= link_to "Refresh", launch_discord_signups_path(lti_launch_id: @lti_launch.id), class: "btn btn-lg btn-primary btn-block discord-refresh-btn" %>
    </div>

    <p>If you need further assistance, please submit a <a href="<%=Rails.application.secrets.support_ticket_url%>">help ticket</a> to the Braven Product Support Team.</p>
  <% else %>
    <p>You're all set up with Discord! Head over to the <a href="https://discord.com/channels/<%= @discord_server_id %>">Braven Discord Server</a>, and feel free to start exploring. We'll walk through the ins and outs of how to use Discord during the Learning Lab.</p>

    <p>Just in case you forget, your Discord account information is:</p>
    <ul>
      <li>Discord Login Email: <strong><%= @discord_user["email"] %></strong></li>
      <li>Discord Username: <strong><%= @discord_user["username"] %>#<%= @discord_user["discriminator"] %></strong></li>
    </ul>
  <% end %>
<% end %>
