<% content_for :title, 'Join Discord Server' %>
<h1>Get Started With Discord</h1>

<% if @discord_user.nil? %>
  <p>These instructions cover accessing Discord via computer. If you're accessing from a mobile device, be sure to download the Discord app. Note that the mobile steps may be different.</p>

  <p>In order to add you to the Braven Discord server, Braven needs temporary access to your Discord account. After you're all set up, you can revoke Braven's access at any time from your Discord account settings.</p>

  <h2>Join the Braven Discord Server!</h2>

  <p>You must have a Discord account in order to join the Braven server. After logging into Discord and clicking the authorize button below, you will see the Braven server on your Discord homepage.</p>

  <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-braven-server-icon.png" alt="Screenshot of the Braven server in Discord highlighting the location of the Braven server icon in the left navigation menu." class="discord-signup">

  <p><strong>Come back here</strong> and click the Authorize button below after either:</p>

  <ul>
    <li><a href="https://discord.com/login" target="_blank">signing into your existing Discord Account (opens in a new tab)</a> OR</li>
    <li><a href="https://discord.com/register" target="_blank">creating a new Discord account (opens in new tab)</a></li>
  </ul>

  <div class="d-flex justify-content-center">
    <%= link_to "Authorize Braven to access Discord", "https://discord.com/api/oauth2/authorize?client_id=#{Rails.application.secrets.discord_client_id}&redirect_uri=#{ERB::Util.url_encode(Rails.application.secrets.discord_redirect_uri)}&response_type=code&scope=identify%20email%20guilds%20guilds.join&state=#{@discord_state}", class: "btn btn-lg btn-primary btn-block discord-authorize-btn" %>
  </div>

<% else %>
  <% if @discord_user["email"].nil? %>
    <h2>Claim Your Account</h2>
    <p>Follow these instructions to set an email address and password for your Discord account (<strong><%= @discord_user["username"] %>#<%= @discord_user["discriminator"] %></strong>):</p>

    <p><strong>Step 1</strong>: Go to your <a href="https://discord.com/channels/@me" target="_blank">Discord homepage (opens in new tab)</a>.</p>

    <p><strong>Step 2</strong>: Click the gear icon in the lower left corner to go to your user settings.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-settings-gear1.png" alt="Find the Discord 'User Settings' button, next to the 'Mute' and 'Deafen' buttons." class="discord-signup">

    <p><strong>Step 3</strong>: At the top of the user settings, in the big red box, click the "Claim Your Account" button.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-claim-account1.png" alt="Find the 'Claim Your Account' button Under the headings 'My Account' and 'UNCLAIMED ACCOUNT' in Discord User Settings." class="discord-signup">

    <p><strong>Step 4</strong>: A pop-up box will appear for you to enter an email address and password. You may enter any email and password that you would like to use with Discord. This does not have to match the email you use for Braven.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-register-email.png" alt="In the 'Finish Signing Up' dialog, enter an email and password, and click 'Claim Your Account'." class="discord-signup">

    <p><strong>Step 5</strong>: Close out of the next pop-up that says a confirmation email has been sent to you.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-confirmation-email-popup-notification1.png" alt="Close the dialog that says 'Thanks! We've sent a confirmation link'" class="discord-signup">
  <% end %>

  <% unless @discord_user["verified"] %>
    <h2>Please Verify Your Email</h2>

    <% if @discord_user["email"] %>
      <p>To gain access to the server, please verify the email address (<strong><%= @discord_user["email"] %></strong>) that you signed up for Discord with. Open the Discord confirmation email with the subject "Verify Your Email Address for Discord" and click the "Verify Email" button.</p>
    <% else %>
      <p>To gain access to the server, please verify the email address that you signed up for Discord with. Open the Discord confirmation email with the subject "Verify Your Email Address for Discord" and click the "Verify Email" button.</p>
    <% end %>

    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-verify-email-subject.png" alt="" class="discord-signup">

    <p>After verifying your email, click the refresh button below.</p>

    <div class="d-flex justify-content-center">
      <%= link_to "Refresh to join the server", launch_discord_signups_path(lti_launch_id: @lti_launch.id), class: "btn btn-lg btn-primary btn-block discord-refresh-btn" %>
    </div>

    <p>If you did not receive the verification email, follow these steps and then click the refresh button below:</p>

    <%# Note: not using an <ol> here because the images would break up the numbering. %>
    <p>1. Go to your <a href="https://discord.com/channels/@me" target="_blank">Discord homepage (opens in new tab)</a>.</p>
    <p>2. Click the gear in the lower left corner to go to your user settings.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-settings-gear1.png" alt="Find the Discord 'User Settings' button, next to the 'Mute' and 'Deafen' buttons." class="discord-signup">
    <p>3. At the top of the user settings, click the "Resend Verification Email" button. Navigate to your email, open the verification email, and click the "Verify Email" button.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-resend-verification-email1.png" alt="Find the 'Resend Verification Email' button Under the headings 'My Account' and 'UNVERIFIED EMAIL' in Discord User Settings." class="discord-signup">
    <p>4. Once you're all set up, click the button below to refresh this page and be added to the Braven Discord server!</p>

    <div class="d-flex justify-content-center">
      <%= link_to "Refresh to join the server", launch_discord_signups_path(lti_launch_id: @lti_launch.id), class: "btn btn-lg btn-primary btn-block discord-refresh-btn" %>
    </div>

    <p>For additional assistance, please submit a <a href="<%= Rails.application.secrets.support_ticket_url %>">help ticket</a> to the Braven Product Support Team.</p>
  <% else %>
    <p>You're all set up with Discord! You can now leave this page and head over to the <a href="https://discord.com/channels/<%= @discord_server_id %>">Braven Discord Server</a>. If on a mobile device, be sure to access the server within the mobile app. Feel free to start exploring! We'll walk through the ins and outs of how to use Discord during the Learning Lab.</p>

    <p>Just in case you forget, your Discord account information is:</p>
    <ul>
      <li>Discord Login Email: <strong><%= @discord_user["email"] %></strong></li>
      <li>Discord Username: <strong><%= @discord_user["username"] %>#<%= @discord_user["discriminator"] %></strong></li>
    </ul><br>

    <p>To change the Discord account you use for Braven, click the button below. This will reset the assignment and allow you to go through the steps to connect the new Discord account.</p>
    <div class="d-flex justify-content-center">
      <%= link_to "Reset Assignment", reset_assignment_discord_signups_path(lti_launch_id: @lti_launch.id), class: "btn btn-lg btn-primary btn-block discord-refresh-btn" %>
    </div><br>


    <p>If you need to get back to the Braven Discord server in the future, you can always find it by opening Discord.com or the Discord app, and looking for the Braven icon on the left side of the screen.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-server-icon.png" alt="Find the Braven server in the Discord servers navigation list" class="discord-signup">

    <p>To find out what Discord account you are currently using, look for the name and four numbers in the lower left corner of the screen, and make sure those match the Discord Username listed above.</p>
    <img src="https://platform-prod-assets.s3.amazonaws.com/Discord+Signup+Images/discord-username.png" alt="Find your Discord username on the 'Click to copy username' button, near the mute/deafen buttons" class="discord-signup">

    <p><em>It is now safe to leave this page.</em></p>
  <% end %>
<% end %>
