<% content_for :title, @attendance_event.title %>
<% content_for :additional_container_css, 'attendance-event-submission-answers-container' %>

<% if @zoom_meeting_link %>
  <p>
    <a href="<%= @zoom_meeting_link %>" target="_blank">Click here to join the Zoom <%= @event_name_display %> (opens in new tab)!</a>
  </p>
  <p>
    This assignment provides quick access to your unique Zoom link for the <%= @event_name_display %>.
<% else %>
  <p>
    This assignment is a reminder to attend your <%= @event_name_display %>.
<% end %>
    No action needs to be taken other than attending your <%= @event_name_display %>!
  </p>
  <p>You will be given credit for this assignment once your Leadership Coach takes attendance. You can refer to your syllabus for more information on how attendance impacts your grade.</p>

