<% content_for :head do %>
  <%= javascript_pack_tag 'local_datetime', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for(:headline) do %>
 Schedule Discord Messages
<% end %>

<div class="col-lg-8">
  <div class="row mb-3">
    <div class="col">
      <%= link_to "Schedule new message", new_discord_schedule_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>

  <% @servers.each do |server| %>
    <div class="row mb-4">
      <div class="col">
        <h2 id="<%= server[:name] %>">Server: <%= server[:name] %></h2>

        <% @jobs.filter { |j| j[:server_id] == server[:id] }.each do |job| %>
          <div class="row">
            <div class="col-sm-9">
              <p>In <strong>#<%= job[:channel] %></strong> on <span class="local-datetime"><%= job[:at] %></span></p>
            </div>
            <div class="col-sm-3">
              <p><%= link_to "Delete", discord_schedule_path(job[:id]), method: :delete, data: { confirm: 'This message will be deleted. Are you sure?' } %></p>
            </div>
          </div>

          <div class="row">
            <div class="col ml-4">
              <blockquote><p><%= job[:message] %></p></blockquote>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
