<div class="col-md-6 offset-md-4">
  <h1>Create Account</h1>
  <p>Enter the password you'll use to login to Braven.</p>
</div>
<div class="col-md-4 offset-md-4 no-pad">
  <%= form_with(model: User, url: user_registration_path) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :password do %>
        Password
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <% end %>
      <%= f.password_field :password, class: 'form-control', required: true, autocomplete: "new-password", autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', required: true, autocomplete: "new-password" %>
    </div>

    <%= f.hidden_field :signup_token, :value => @signup_token if @signup_token %>
    <%= f.hidden_field :reset_password_token, :value => @reset_password_token if @reset_password_token %>

    <div class="actions">
      <%= f.submit "Create Account" %>
    </div>
  <% end %>
</div>
<div class="col-md-6 offset-md-3">
<p><em>Note: If you don't have access to the email you signed up with, please <a href="mailto:support@bebraven.org">contact us here</a>   </em></p>
<div>
