<h2>One More Step</h2>
<div class="no-pad">
<p>Please check your email for instructions on how to finish creating your account.</p>
</div>

<div class="col-md-6" >
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p><small>Didn't receive email instructions and it's been a few minutes? Check your spam folder and search for an email from <strong><%= ENV['MAILER_FROM_EMAIL'] %></strong>. Still can't find it? </small></p>

  <div class="field">
    <%= f.hidden_field :salesforce_id, value: params[:u] %>
  </div>

  <div class="actions">
    <%= f.submit "Resend instructions", class: 'button-secondary' %>
  </div>

<% end %>
</div>
