<div class="row">
  <div class="col-md-6 offset-md-3">
    <% if params[:login_attempt] %>
      <h1>Please confirm your email address</h1>
    <% else %>
      <h1>One more step</h1>
    <% end %>
    <p>Please check your email for instructions on how to finish creating your account.</p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-6 offset-md-3" >
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.hidden_field :salesforce_id, value: params[:u] %>
      </div>

      <div class="actions">
        <p><small>
         Didn't receive email instructions and it's been a few minutes?
         Check your spam folder and search for an email from <strong><%= ENV['MAILER_FROM_EMAIL'] %></strong>.
         Still can't find it? <%= f.submit "Resend instructions", class: 'btn btn-sm btn-secondary m-0 py-0' %>
        </small></p>
      </div>

    <% end %>
  </div>
</div>
