<%#
IMPORTANT: if you change this form, you'll have to go through the hacky CSS
in rate_this_module.scss and rise360_content.scss to adjust the media query
breakpoints in order to make sure it still looks good iframed inside a Rise360
package at various screen sizes. You probably want to avoid that.
%>

<div class="row no-gutters">
  <div class="col-md">

    <% if params[:show_alert] %>
      <div class="alert alert-success alert-dismissible fade show show-alert" role="alert">
        <p>Feedback submitted. Thank you!</p>
        <a href="<%= edit_rate_this_module_submission_path(@rate_this_module_submission, state: @lti_launch.state, submitted: true) %>"
           class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
      </div>
    <% end %>

    <h1>Rate This Module</h1>
    <p>
    At the end of every module, you will have the chance to provide your feedback.
    Braven takes feedback very seriously, so please take 60 seconds to let us know what you think!
    </p>

    <%= form_for(@rate_this_module_submission, local: true) do |form| %>

      <div class="form-group">
        <label for="select-module-score" class="mt-4">
          On a scale from 0 (Not useful at all) to 10 (Very useful!), how useful was this module?
        </label>
        <select id="select-module-score" name="rate_this_module_submission[module_score]" class="form-control" required>
          <option value=""></option>
          <% (0..10).each do |i| %>
            <option value="<%= i %>" <%= option_selected(@prefill_score == i.to_s) %>><%= i %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label for="module-other-feedback" class="mt-4">
          Do you have any other feedback on this module to share?
        </label>
        <textarea id="module-other-feedback"
                  name="rate_this_module_submission[module_feedback]"
                  rows="3"
                  class="form-control"
        ><%= @prefill_feedback %></textarea>
      </div>

      <input type="hidden" name="state" value="<%= @lti_launch.state %>">

      <div class="actions">
        <% submit_btn_message = (params[:submitted] ? 'Re-Submit' : 'Submit') %>
        <%= form.submit submit_btn_message, class: 'btn btn-primary btn-block' %>
      </div>

    <% end %>
  </div>
</div>

<%#
Override the default .rise360-container with our own since the
height of the iframe and content needs to be dynamic depending on screen size
and we need to adjust the padding on the left and right to make it
appear to flow right along with the Rise360 content when embedded
%>
<% content_for :alternate_container_css, 'embedded-rate-this-module-container' %>
