<%= form_tag(cas_login_path, method: :post) do -%>
  <div class="field"><label id="username-label" for="username">
    Email
  </label><br />
  <input class="form-control" autofocus="autofocus" type="text" id="username" name="username"
         size="32" tabindex="1" /></div>
  <div class="field"><label id="password-label" for="password">
    Password
  </label>
  <input class="form-control" type="password" id="password" name="password"
         size="32" tabindex="2" autocomplete="off" /></div>

  <input type="hidden" id="lt" name="lt" value="<%= @lt %>" />
  <input type="hidden" id="service" name="service" value="<%= @service %>" />

  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>

  <br>
  <%= render "devise/shared/links" %>
<% end -%>
