<p>
  <strong>DOWNLOAD PATH:</strong>
  <%= @path %>
</p>
 <p>
  <strong>FILEPATH:</strong>
  <%= @filepath %>
</p>
 <p>
  <strong>BUCKET PREFIX:</strong>
  <%= @bucket_prefix %>
</p>
 <p>
  <strong>FILES:</strong>
  <%= @all_files %>
</p>
 <p>
  <strong>DIRECTORIES:</strong>
  <%= @all_dirs %>
</p>
