
  <!-- 
	Has to be file xor directory, unless I use JS:
  	https://stackoverflow.com/questions/30049276/handle-directory-files-upload-with-one-input-javascript
  	For directories: 
  	<label for="filepicker">Choose a Rise 360 course (directory?)</label>
    <input type="file" id="filepicker" name="filepicker" webkitdirectory multiple />
  -->

<!-- See also https://github.com/pixielabs/activestorage-example-app/blob/master/app/views/users/_form.html.erb -->

<!-- should this be PUT?  -->
<%= form_tag lti_link_selection_path(@course_content), method: :post, multipart: true do %>
  <%= label_tag :course_content_zipfile, 'Rise 360 zipfile' %>
  <%= file_field_tag :course_content_zipfile, :accept => "application/zip" %>
  <input id="state" name='state' type='hidden' value="<%= params[:state] %>" />
  <%= submit_tag "Upload" %>
<% end %>

<!-- 
<%= form_tag(lti_link_selection_path) do %>
  <label for="course_content_zipfile">Choose a Rise 360 course (zip):</label>
  <input
    type="file"
    id="course_content_zipfile"
    name="course_content_zipfile"
    accept="application/zip">
  <input id="state" name='state' type='hidden' value="<%= params[:state] %>" />
  <input type='submit' value='Upload' />
<% end %> -->


