<%= form_with(model: base_course, local: true) do |form| %>
  <% if base_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(base_course.errors.count, "error") %> prohibited this <%= humanized_type(base_course) %> from being saved:</h2>

      <ul>
      <% base_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Settings</h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :canvas_course_id, 'Canvas Course ID' %>
        <%= form.number_field :canvas_course_id, class: 'form-control col-sm-8' %>
      </div>

      <div class="form-group">
        <%= form.label :course_resource_id, 'Course Resources' %>
        <div class="row">
          <%= form.collection_select :course_resource_id, CourseResource.all, :id, :name, {include_blank: true}, class: 'form-control col-sm-8' %>
          <%= link_to 'Add new', :new_course_resource, class: 'btn btn-secondary col-sm-2 offset-sm-2' %>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <span class="col-sm-3"><p>Waivers</p></span>
          <span class="col-sm-9 align-right"><small><em>Note: which waivers are shown is controlled by Salesforce</em></small></span>
        </div>
        <div class="row">
          <% if has_waivers? %>
            <%= link_to 'View Waivers', canvas_waivers_url, class: 'col-sm-10' %>
            <%= link_to 'Delete', unpublish_base_course_waivers_path(base_course, :canvas_assignment_id => canvas_waivers_assignment_id),
                                  method: :delete, class: 'btn btn-secondary col-sm-2',
                                  data: { confirm: 'Are you sure you want to delete the waivers?' } %>
          <% else %>
            <span class="col-sm-10"><em>No Waivers Assignment</em></span>
            <%= link_to 'Add', publish_base_course_waivers_path(base_course), method: :post, class: 'btn btn-secondary col-sm-2' %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <span class="col-sm-3"><p>Peer Reviews</p></span>
        </div>
        <div class="row">
          <% if has_peer_reviews_assignment? %>
            <%= link_to 'View Peer Reviews', canvas_peer_reviews_url, class: 'col-sm-10' %>
            <%= link_to 'Delete', unpublish_base_course_peer_reviews_path(base_course, canvas_assignment_id: canvas_peer_reviews_assignment_id),
                                  method: :delete, class: 'btn btn-secondary col-sm-2',
                                  data: { confirm: 'Are you sure you want to delete the Peer Reviews assignment?' } %>
          <% else %>
            <span class="col-sm-10"><em>No Peer Reviews Assignment</em></span>
            <%= link_to 'Add', publish_base_course_peer_reviews_path(base_course), method: :post, class: 'btn btn-secondary col-sm-2' %>
          <% end %>
        </div>
      </div>

      <%= form.hidden_field :type %>

      <div class="actions">
        <%= form.submit 'Update Settings', class: 'btn btn-secondary' %>
        <%= link_to 'Cancel', base_courses_path, class: 'btn btn-secondary'%>
      </div>
    </div>
  </div>

  <br/>
  <h3>Edit Projects</h3>
  <%= link_to 'Add Project', new_base_course_base_course_project_version_path(base_course), class: 'btn btn-sm btn-secondary' %>
  <%= render :partial => 'base_course_custom_content_versions/list', locals: {base_course_custom_content_versions: base_course.base_course_project_versions} %>

  <h3>Edit Impact Surveys</h3>
  <%= link_to 'Add Impact Survey', new_base_course_base_course_survey_version_path(base_course), class: 'btn btn-sm btn-secondary' %>
  <%= render :partial => 'base_course_custom_content_versions/list', locals: {base_course_custom_content_versions: base_course.base_course_survey_versions} %>
<% end %>
