<% content_for(:headline) do %>
  Launch new program from templates
<% end %>

<%= form_with(url: course_management_launch_path) do |form| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :salesforce_program_id, 'Salesforce program ID' %>
        <%= form.text_field :salesforce_program_id, class: 'form-control', placeholder: 'Ex: a2Y11000001HY5xEAG' %>
      </div>

      <div class="form-group">
        <%= form.label :fellow_course_template_id, 'Fellow course template' %>
        <%= form.collection_select :fellow_course_template_id, @course_templates, :id, :name, {include_blank: true}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :fellow_course_name, 'Fellow course name' %>
        <%= form.text_field :fellow_course_name, class: 'form-control', placeholder: 'Ex: 2020 Fall Braven Accelerator - SJSU' %>
      </div>

      <div class="form-group">
        <%= form.label :lc_course_template_id, 'LC course template' %>
        <%= form.collection_select :lc_course_template_id, @course_templates, :id, :name, {include_blank: true}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :lc_course_name, 'LC course name' %>
        <%= form.text_field :lc_course_name, class: 'form-control', placeholder: 'Ex: 2020 Fall LC Playbook - SJSU' %>
      </div>

      <div class="form-group">
        <%= form.label :notification_email, 'Email to notify when done' %>
        <%= form.text_field :notification_email, class: 'form-control', placeholder: 'your_email@bebraven.org' %>
      </div>

      <div class="actions">
        <%= form.submit 'Start program launch', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', base_courses_path, class: 'btn btn-secondary'%>
      </div>
    </div>
  </div>
<% end %>
