<% content_for(:headline) do %>
  <%= @base_course.name %>
<% end %>

<p><%= link_to 'Back To Course Management', base_courses_path %></p>
<% if @base_course.can_edit? %>
  <p><%= link_to 'Edit', edit_polymorphic_path(@base_course), class: 'btn btn-secondary' %></p>
<% else %>
  <p><em>Note: Courses aren't editable. Only CourseTemplates.</em></p>
<% end %>

<h3>Settings</h3>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Canvas Course ID</th>
          <th>Course Resources</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to @base_course.name, @base_course.canvas_url %></td>
          <td><%= @base_course.canvas_course_id %></td>
          <td><%= @base_course.course_resource&.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br/>

<h3>Projects</h3>
<%= render :partial => 'base_course_custom_content_versions/list', locals: {read_only: true, base_course_custom_content_versions: @base_course.base_course_project_versions} %>

<h3>Impact Surveys</h3>
<%= render :partial => 'base_course_custom_content_versions/list', locals: {read_only: true, base_course_custom_content_versions: @base_course.base_course_survey_versions} %>
