<% content_for :headline do %>
  Dashboard
<% end %>

<div class="col-md-4">
  <div class="list-group">
    <%= link_to 'Content Editor', new_custom_content_path, type: "button", class: "list-group-item list-group-item-action" %>
    <%= link_to 'Module Uploader', rise360_modules_path, type: "button", class: "list-group-item list-group-item-action" %>
    <%= link_to 'Portal', canvas_url, target: :_blank, type: "button", class: "list-group-item list-group-item-action" %>
    <%= link_to 'Course Management', courses_path, type: "button", class: "list-group-item list-group-item-action" %>
    <%= link_to 'Sync From Salesforce', salesforce_sync_from_salesforce_program_path, type: "button", class: "list-group-item list-group-item-action" %>
    <%= link_to 'Generate Zoom Links', generate_zoom_links_path, type: "button", class: "list-group-item list-group-item-action" %>
    <%= link_to 'Schedule Discord Messages', discord_schedule_index_path, type: "button", class: "list-group-item list-group-item-action" %>
    <%= link_to 'Users', users_path, type: "button", class: "list-group-item list-group-item-action" %>
  </div>
</div>
