<% content_for :title, 'About Your Module Grade' %>
<% content_for :additional_container_css, 'rise360-module-grade-container' %>
<% content_for :head do %>
  <%= javascript_pack_tag 'local_datetime', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row">
  <div class="col">

    <h1 class="mt-2">About your Module grade</h1>
    <% if @grading_service.grade_is_manually_overridden? %>
      <p><mark>
        This Module has been manually given a grade of <strong><%= @grading_service.existing_total_points_display %></strong> by <em><%= @grading_service.grader_full_name %></em>.
        Below is what your grade previously was.
       </mark></p>
       <hr>
    <% end %>

    <p>Here is how your Module grade breaks down:</p>
    <div class="row grade-component">
      <div class="col-6 col-sm-3"><p><strong>Engagement:</strong></p></div>
      <div class="col"><p><span class="points-display"><%= @computed_grade_breakdown.engagement_points_display %></span> points</p></div>
    </div>
    <div class="row grade-component-description">
      <div class="col"><p>You completed <%= @computed_grade_breakdown.engagement_grade %>% of the Module.</p></div>
    </div>
    <div class="row grade-component">
      <div class="col-6 col-sm-3"><p><strong>Mastery quizzes:</strong></div>
      <div class="col"><p><span class="points-display"><%= @computed_grade_breakdown.mastery_points_display %></span> points</p></div>
    </div>
    <div class="row grade-component-description">
      <div class="col"><p>You got <%= @computed_grade_breakdown.quiz_grade.to_i %>% of the <%= @grading_service.total_quiz_questions %> mastery questions correct.</p></div>
    </div>
    <div class="row grade-component">
      <div class="col-6 col-sm-3"><p><strong>On Time:</strong></p></div>
      <div class="col"><p><span class="points-display"><%= @computed_grade_breakdown.on_time_points_display %></span> points</p></div>
    </div>
    <% if @computed_grade_breakdown.on_time_credit_received? %>
      <div class="row grade-component-description">
        <div class="col"><p>You completed the Module before the due date - good job!</p></div>
      </div>
    <% else %>
      <div class="row grade-component-description">
        <div class="col">
          <p>Awarded when you complete 100% of the Module before the due date.
            <% if @computed_grade_breakdown.completed_at %>
              <br>You completed this module after the due date, at <strong><span class="local-datetime"><%= @computed_grade_breakdown.completed_at %></span></strong>.
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <hr class="mt-0 mb-2">
    <div class="row mb-3 grade-total">
      <div class="col-6 col-sm-3"><p><strong>Total Grade:</strong></p></div>
      <div class="col"><p><strong><span class="points-total-display"><%= @computed_grade_breakdown.total_points_display %> points</span></strong></p></div>
    </div>

    <% if @grading_service.grade_changed? %>
      <p><mark><em>This grade was just updated. It may take a minute to show up on the Grades page.</em></mark></p>
    <% end %>

    <p>
      <a href="<%= canvas_url %>" target="_parent">
      Click here to go to the Module</a> and continue working on it
    </p>

    <h2 class="bv-font-size-4 mt-4">How are Modules graded?</h2>
    <p>
      Modules are graded nightly. The grade consists of three components:
    </p>
    <ol>
      <li>
        <div class="row grade-component">
          <div class="col-6 col-sm-3"><p>Engagement:</p></div><div class="col-1"><p><strong>40%</strong></p></div>
        </div>
      </li>
      <li>
        <div class="row grade-component">
          <div class="col-6 col-sm-3"><p>Mastery quizzes:</p></div><div class="col-1"><p><strong>40%</strong></p></div>
        </div>
      </li>
      <li>
        <div class="row grade-component">
          <div class="col-6 col-sm-3"><p>On time:</p></div><div class="col-1"><p><strong>20%</strong></p></div>
        </div>
      </li>
    </ol>

    <h3 class="bv-font-size-5 mt-3">How do you get engagement credit?</h3>
    <p>
      You get credit for engagement just by going through the Module.
      If you get to the end then you get full credit for the engagement portion
      of the Module which is 40% of your overall grade.
    </p>

    <h3 class="bv-font-size-5 mt-3">How do you get credit for mastery quizzes?</h3>
    <p>
      You get credit for mastery quizzes by getting the answers correct. If there are ten
      total mastery questions and you get them all right then you get full credit for the
      mastery portion of the Module which is also 40% of your overall grade.
    </p>

    <h3 class="bv-font-size-5 mt-3">How do you get credit for completing on time?</h3>
    <p>
      You get credit for completing a Module on time if you reach 100% progress before
      the Module's due date. If you complete the Module before the due date, you get full
      credit for the "on time" portion of the grade, which is 20% of your overall grade.
      If you do not <strong>fully complete</strong> the Module before the due date, you
      get zero credit for this portion of the grade. You can still raise the engagement
      and mastery quiz portions of your grade after the due date has passed, but this
      20% of your grade for the Module will be locked at zero.
    </p>

  </div>
</div>
