<p>Uh oh something went wrong! Looks like you tried to update the email address for:</p>

<ul><li><%= "#{@first_name} #{@last_name}" %> ===&gt; <%= @new_email %></li></ul>

<p>This email change in Salesforce failed to sync to Canvas. This user <strong>may have trouble logging in</strong> until this gets resolved.</p>
<p>Also, this may result in a new duplicate account being created in the Platform next time the nightly <code>Sync To Canvas</code> runs.</p>

<p>If you don't know how to fix this, <strong>please open a ticket</strong> with the Platform Support team and send them the information below.</p>
<hr>

<p>Error syncing an email change in Salesforce to Platform and Canvas. User details:</p>
<ul>
  <li>Name: <%= "#{@first_name} #{@last_name}" %></li>
  <li>New email: <%= @new_email %></li>
  <li>Salesforce Contact ID: <%= @salesforce_contact_id %></li>
  <li>Canvas User ID: <%= @canvas_user_id %></li>
  <li>Platform User ID: <%= @user_id %></li>
</ul>

<p><strong><%= @exception.class %>: <%= @exception.message %></strong><p>

<p>Error details (Sentry will have more info)</p>
------------
<pre><%= simple_format(@exception.full_message) %></pre>

