<% checkboxes = {
    'Working in Teams' => 'working-in-teams',
    'Leadership' => 'leadership',
    'Problem Solving' => 'problem-solving',
    'Networking' => 'networking',
    'Communicating' => 'communicating',
    'Operating & Managing' => 'operating',
    'Technical Skills' => 'technical-skills',
    'Punctuality' => 'punctuality',
    'Analytical Ability' => 'analytical-ability',
    'Attention to Detail ' => 'attention-to-detail',
    'Reliability' => 'reliability',
    'Adaptability' => 'adaptability',
    'Diligence' => 'diligence',
    'Confidence' => 'confidence',
  }
%>

<% input_name = "fellow_evaluation[#{user.id}][#{question_name}]" %>
<% input_id_prefix = "checkbox-#{user.id}-#{question_name}" %>

<fieldset class="capstone-evaluation-question-wrapper">
  <legend class="capstone-evaluation-question">
    <%= question %>
  </legend>

  <div class="container-fluid p-0">
    <div class="capstone-evaluation-radios">
      <% checkboxes.each do |label, value| %>
        <% checkbox_id = "#{input_id_prefix}-#{value}" %>
          <div class="col-sm pr-0">
            <input id="<%= checkbox_id %>" type="checkbox" value="<%= "#{question_name}-#{value}" %>"
               name="<%= "fellow_evaluation[#{user.id}][#{question_name}-#{value}]" %>">
            <label for="<%= checkbox_id %>"><%= label %></label>
          </div>
      <% end %>
    </div>
    <div class="col-sm pr-0">
      <label for="<%= "checkbox-#{user.id}-other" %>">Other</label>
      <input id="<%= "checkbox-#{user.id}-other" %>" type="text" name="<%= "fellow_evaluation[#{user.id}][#{question_name}-other]" %>" data-lpignore="true">
    </div>
  </div>
</fieldset>

