<%# TODO: https://app.asana.com/0/1174274412967132/1199547040938237 %>
<%# CSS to arrange radios horizontally %>

<% input_name = "fellow_evaluation[#{user.id}][#{question_name}]" %>
<% input_id_prefix = "radio-#{user.id}-#{question_name}" %>

<fieldset class="peer-review-question-wrapper">
  <legend class="peer-review-question">
    <%= question %>
  </legend>

  <div class="container-fluid p-0">
    <div class="peer-review-radios">
      <% radios.each do |label, value| %>
        <% radio_id = "#{input_id_prefix}-#{value}" %>
          <div class="col-sm pr-0">
            <input id="<%= radio_id %>" type="radio" value="<%= value %>"
               name="<%= input_name %>" required>
            <label for="<%= radio_id %>"><%= label %></label>
          </div>
      <% end %>
    </div>
  </div>
</fieldset>
