<div>
  <p>Select a <%= params[:type] %> to create in Canvas</p>
  <%= form_tag base_course_base_course_custom_content_versions_path do -%>
    <select name="custom_content_id" id="custom_content_id">
      <% @new_custom_contents.each do |cc| %>
        <option value="<%= cc.id %>"><%= cc.title %></option>
      <% end %>
    </select>
    <input type='hidden' id="base_course_id" name='base_course_id' value='<%= @base_course.id %>' />
    <input type='submit' value='Create' />
  <% end -%>
</div>
