<div>
  <div class="row">
    <div class="col-sm-4">

      <h4>Select a <%= params[:type] %> to create in Canvas</h4>
      <%= form_with url: base_course_base_course_custom_content_versions_path do |form| %>
        <div class="form-group">
          <div class="row">
            <%= form.label :name, class: 'col-sm-3' %>
            <%= form.collection_select :custom_content_id, @new_custom_contents, :id, :title, {}, class: 'form-control col-sm-8' %> 
          </div>
        </div>   

        <% if for_project? %>

        <div class="form-group">
          <div class="row">
            <%= form.label :rubric, class: 'col-sm-3' %>
            <%= form.collection_select :rubric_id, @rubrics, :id, :title, {include_blank: true}, class: 'form-control col-sm-8' %> 
          </div>
        </div>   
        <% end %>

        <input type='hidden' id="base_course_id" name='base_course_id' value='<%= @base_course.id %>' />
        <input type='submit' value='Create' />
      <% end %>

    </div>
  </div>

  <br/><br/>

  <div class="row">
    <div class="col-sm-6">
      <h5>Rubric instructions</h5>
      <p>To add a rubric to a Project in Canvas in order for Teaching Assistants (TAs) to be able to use it to grade, do the following:</p>
      <ol>
        <li>Before publishing the Project, go to <a href="<%= @base_course.canvas_rubrics_url %>">the Canvas rubrics page here</a></li>
        <li>Create your rubric there</li>
        <li>Refresh this page and your new rubric should show up in the above list</li>
      </ol>

      <small>
      <p><em>Notes:</em></p>
      <ul>
      <li>Once you publish a Project with a rubric, it will no longer show up in the list. A rubric can only be added to one Project.</li>
      <li>If you need to edit the rubric after it's published in Canvas, that is fine.</li>
      <li>After a Project is published, a rubric cannot be added to it after the fact so create your rubric ahead of time and publish the Project with it.</li>
      </ul>
      </small>
    </div>
  </div>

</div>
