<% content_for(:breadcrumbs) do %>
  <li class="breadcrumb-item"><%= link_to 'Course Management', courses_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Editing Course</li>
<% end %>

<div class="col">

<% if @course.is_template? %>
  <h3>Settings</h3>
  <%= form_with(model: @course, local: true) do |form| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this Course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :canvas_course_id, 'Canvas Course ID' %>
          <%= form.number_field :canvas_course_id, class: 'form-control col-md-8' %>
        </div>

        <div class="form-group">
          <div class="row">
            <span class="col-md-3"><p>Waivers</p></span>
            <span class="col-md-9 align-right"><small><em>Note: which waivers are shown is controlled by Salesforce</em></small></span>
          </div>
          <div class="row">
            <% if has_waivers? %>
              <%= link_to 'View Waivers', canvas_waivers_url, class: 'col-md-10' %>
              <%= link_to 'Delete', unpublish_course_waivers_path(@course, :canvas_assignment_id => canvas_waivers_assignment_id),
                                    method: :delete, class: 'btn btn-secondary col-md-2 my-0',
                                    data: { confirm: 'Are you sure you want to delete the waivers?' } %>
            <% else %>
              <span class="col-md-10"><em>No Waivers Assignment</em></span>
              <%= link_to 'Add', publish_course_waivers_path(@course), method: :post, class: 'btn btn-secondary col-md-2 my-0' %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <span class="col-md-3"><p>Capstone Evaluations</p></span>
            <span class="col-md-9 align-right"><small><em>Note: peers/Fellows in cohort are controlled by Salesforce</em></small></span>
          </div>
          <div class="row">
            <% if has_capstone_evaluations_assignment? %>
              <%= link_to 'View Capstone Evaluations', canvas_capstone_evaluations_url, class: 'col-md-10' %>
              <%= link_to 'Delete', unpublish_course_capstone_evaluations_path(@course, canvas_assignment_id: canvas_capstone_evaluations_assignment_id),
                                    method: :delete, class: 'btn btn-secondary col-md-2 my-0',
                                    data: { confirm: 'Are you sure you want to delete the Capstone Evaluations assignment?' } %>
            <% else %>
              <span class="col-md-10"><em>No Capstone Evaluations Assignment</em></span>
              <% unless has_capstone_evaluation_results_assignment? %>
              <%= link_to 'Add', publish_course_capstone_evaluations_path(@course), method: :post, class: 'btn btn-secondary col-md-2 my-0' %>
            <% end %>
          <% end %>
        </div>
        <div class="row">
          <% if has_capstone_evaluation_results_assignment? %>
            <%= link_to 'View Capstone Evaluation Results', canvas_capstone_evaluation_results_url, class: 'col-md-10' %>
            <%= link_to 'Delete', unpublish_course_capstone_evaluations_path(@course, canvas_assignment_id: canvas_capstone_evaluation_results_assignment_id),
                                  method: :delete, class: 'btn btn-secondary col-md-2 my-0',
                                  data: { confirm: 'Are you sure you want to delete the Capstone Evaluation Results assignment?' } %>
          <% else %>
            <span class="col-md-10"><em>No Capstone Evaluation Results Assignment</em></span>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <span class="col-md-3"><p>Pre-Accelerator Survey</p></span>
            <span class="col-md-9 align-right"><small><em>Note: surveys are controlled by Salesforce</em></small></span>
          </div>
          <div class="row">
            <% if has_preaccelerator_survey? %>
              <%= link_to 'View Pre-Accelerator Survey', canvas_preaccelerator_survey_url, class: 'col-md-10' %>
              <%= link_to 'Delete', unpublish_course_preaccelerator_surveys_path(@course, canvas_assignment_id: canvas_preaccelerator_survey_assignment_id),
                                    method: :delete, class: 'btn btn-secondary col-md-2 my-0',
                                    data: { confirm: 'Are you sure you want to delete the Pre-Accelerator Survey assignment?' } %>
            <% else %>
              <span class="col-md-10"><em>No Pre-Accelerator Survey Assignment</em></span>
              <%= link_to 'Add', publish_course_preaccelerator_surveys_path(@course), method: :post, class: 'btn btn-secondary col-md-2 my-0' %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <span class="col-md-3"><p>Post-Accelerator Survey</p></span>
            <span class="col-md-9 align-right"><small><em>Note: surveys are controlled by Salesforce</em></small></span>
          </div>
          <div class="row">
            <% if has_postaccelerator_survey? %>
              <%= link_to 'View Post-Accelerator Survey', canvas_postaccelerator_survey_url, class: 'col-md-10' %>
              <%= link_to 'Delete', unpublish_course_postaccelerator_surveys_path(@course, canvas_assignment_id: canvas_postaccelerator_survey_assignment_id),
                                    method: :delete, class: 'btn btn-secondary col-md-2 my-0',
                                    data: { confirm: 'Are you sure you want to delete the Post-Accelerator Survey assignment?' } %>
            <% else %>
              <% if @lc_mode %>
                <span class="col-md-10"><em>The Post-Accelerator Survey Assignment cannot be published in the LC Playbook</em></span>
              <% else %>
                <span class="col-md-10"><em>No Post-Accelerator Survey Assignment</em></span>
                <%= link_to 'Add', publish_course_postaccelerator_surveys_path(@course), method: :post, class: 'btn btn-secondary col-md-2 my-0' %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <span class="col-md-3">Discord Signups</span>
            <span class="col-md-9 align-right"><small><em>Note: add this to Accelerator (not LC Playbook) courses</em></small></span>
          </div>
          <div class="row">
            <% if has_discord_signups_assignment? %>
              <%= link_to 'View Discord Signups Assignment', canvas_discord_signups_url, class: 'col-md-10' %>
              <%= link_to 'Delete', unpublish_course_discord_signups_path(@course, canvas_assignment_id: canvas_discord_signups_assignment_id),
                                    method: :delete, class: 'btn btn-secondary col-md-2 my-0',
                                    data: { confirm: 'Are you sure you want to delete the Discord Signups assignment?' } %>
            <% else %>
              <span class="col-md-10"><em>No Discord Signups Assignment</em></span>
              <%= link_to 'Add', publish_course_discord_signups_path(@course), method: :post, class: 'btn btn-secondary col-md-2 my-0' %>
            <% end %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit 'Update Settings', class: 'btn btn-secondary' %>
          <%= link_to 'Cancel', courses_path, class: 'btn btn-secondary'%>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p><mark>Caution! You are editing a launched course and need to consider how these edits will impact the Fellows/LCs/TAs in the course.</mark></p>
  <%#
    We haven't put any thought into what can go wrong if you edit any of the things in the Settings
    section for a launched course, with real users already in it, so we're just disabling this section
    until we have a need and can think through the various scenarios we have to account for.
  %>
  <h3>Settings</h3>
  <p><em>Note: Editing Course Settings for a launched course isn't implemented yet.</em></p>
  <%= render :partial => 'show_settings' %>
<% end %>

<br/>
<h3>Edit Resources</h3>
<div class="row">
  <div class="col-md-6">
    <%= form_with(model: @course, local: true) do |form| %>
      <% if @course.errors.any? %>
        <%= render :partial => 'shared/form_errors', locals: { object: @course, message: 'Course Resources failed to update'} %>
      <% end %>

      <div class="form-group">
        <div class="row">
          <%= form.label :course_resource_id, 'Course Resources', class: 'col' %>
        </div>
        <div class="row justify-content-between ml-0">
          <%= form.collection_select :course_resource_id, CourseResource.all, :id, :name, {include_blank: true}, class: 'form-control col-md-8' %>
          <%= link_to 'Add new', :new_course_resource, class: 'btn btn-secondary col-md-2 my-0 px-2' %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit 'Update Resources', class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
<br/>

<h3>Edit Modules</h3>
<%= link_to 'Add Module', new_course_course_rise360_module_version_path(@course), class: 'btn btn-sm btn-secondary' %>
<%= render :partial => 'course_rise360_module_versions/list', locals: {course_rise360_module_versions: @course.course_rise360_module_versions} %>

<h3>Edit Projects</h3>
<%= link_to 'Add Project', new_course_course_project_version_path(@course), class: 'btn btn-sm btn-secondary' %>
<%= render :partial => 'course_custom_content_versions/list', locals: {course_custom_content_versions: @course.course_project_versions} %>

<h3>Edit Impact Surveys</h3>
<%= link_to 'Add Impact Survey', new_course_course_survey_version_path(@course), class: 'btn btn-sm btn-secondary' %>
<%= render :partial => 'course_custom_content_versions/list', locals: {course_custom_content_versions: @course.course_survey_versions} %>

<h3>Edit Attendance Events</h3>
<%= link_to 'Add Attendance Event', new_course_course_attendance_event_path(@course), class: 'btn btn-sm btn-secondary' %>
<%= link_to 'Create New Attendance Event', new_attendance_event_path(:redirect_to_course => @course.id), class: 'btn btn-sm btn-secondary' %>

<%= render :partial => 'course_attendance_events/list', locals: {course_attendance_events: @course.course_attendance_events} %>

<p><small><em><b>Hint:</b> Cmd-Click "View On Canvas" to open in new tab</em></small></p>
</div>
