<h1>Lesson</h1>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @course.name %></td>
    </tr>
    <tr>
      <td>Grade Categories</td>
      <td><%= link_to 'click here', course_grade_categories_path(@course) %></td>
    </tr>
    <tr>
      <td>Lessons</td>
      <td><%= link_to 'click here', course_lessons_path(@course) %></td>
    </tr>
    <tr>
      <td>Projects</td>
      <td><%= link_to 'click here', course_projects_path(@course) %></td>
    </tr>
  </tbody>
</table>
<br/>
<%= link_to 'Back To All Courses', courses_path %>
