<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Course Management', courses_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Course Details</li>
  </ol>
</nav>

<div class="container">

  <div class="row">
    <div class="col">
      <% if @course.can_edit? %>
        <p><%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-secondary' %></p>
      <% else %>
        <p><em>Note: Launched Courses aren't editable at the moment.</em></p>
      <% end %>
    </div>
    <div class="col">
      <p><%= link_to 'Create Template', new_course_path(:params => { create_from_course_id: @course.id }), class: 'btn btn-secondary' %>
    </div>
  </div>

  <h3>Settings</h3>
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Canvas Course ID</th>
            <th>Course Resources</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to @course.name, @course.canvas_url %></td>
            <td><%= @course.canvas_course_id %></td>
            <td><%= @course.course_resource&.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br/>

  <h3>Modules</h3>
  <%= render :partial => 'course_rise360_module_versions/list', locals: {read_only: true, course_rise360_module_versions: @course.course_rise360_module_versions} %>

  <h3>Projects</h3>
  <%= render :partial => 'course_custom_content_versions/list', locals: {read_only: true, course_custom_content_versions: @course.course_project_versions} %>

  <h3>Impact Surveys</h3>
  <%= render :partial => 'course_custom_content_versions/list', locals: {read_only: true, course_custom_content_versions: @course.course_survey_versions} %>

  <p><small><em><b>Hint:</b> Cmd-Click "View On Canvas" to open in new tab</em></small></p>
</div>
