<% content_for(:breadcrumbs) do %>
  <li class="breadcrumb-item"><%= link_to 'Course Management', courses_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Course Details</li>
<% end %>

<div class="col">
  <div class="row">
    <div class="col">
      <p><%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-secondary' %></p>
    </div>
    <div class="col">
      <p><%= link_to 'Create Template', new_course_path(:params => { create_from_course_id: @course.id }), class: 'btn btn-secondary' %>
    </div>
  </div>

  <h3>Settings</h3>
  <%= render :partial => 'show_settings' %>
  <br/>

  <h3>Modules</h3>
  <%= render :partial => 'course_rise360_module_versions/list', locals: {read_only: true, course_rise360_module_versions: @course.course_rise360_module_versions} %>

  <h3>Projects</h3>
  <%= render :partial => 'course_custom_content_versions/list', locals: {read_only: true, course_custom_content_versions: @course.course_project_versions} %>

  <h3>Impact Surveys</h3>
  <%= render :partial => 'course_custom_content_versions/list', locals: {read_only: true, course_custom_content_versions: @course.course_survey_versions} %>

  <h3>Attendance Events</h3>
  <%= render :partial => 'course_attendance_events/list', locals: {read_only: true, course_attendance_events: @course.course_attendance_events} %>

  <p><small><em><b>Hint:</b> Cmd-Click "View On Canvas" to open in new tab</em></small></p>

  <h3>Danger Zone</h3>
  <p>Careful with these! You may be modifying student grades or other information in a running course.</p>
  <div class="row">
    <div class="col">
      <%= button_to 'Grade Unsubmitted Assignments', grade_course_grade_unsubmitted_assignments_path(@course), data: { confirm: 'This will zero-out grades for students with unsubmitted assignments! You should only do this at the end of the course. Are you sure?' }, class: 'btn' %>
    </div>
  </div>

</div>
