<% content_for :title, 'Capstone Evaluations' %>

<% content_for :additional_container_css, 'capstone-evaluation-container' %>

<h2 id="cohort-teamwork-evaluation">Cohort Teamwork Evaluation</h2>
<% if @lc_mode %>
  <p>As part of your Fellows' Capstone Challenge Project grade, they will be evaluated by their peers and you
  as their Leadership Coach for their contributions to your team throughout the Challenge. At the end of the
  Challenge, please reflect on your Fellows and evaluate them here. Your evaluation will be averaged with all
  the others each Fellow receives, resulting in a final Teamwork score for each Fellow in your cohort.</p>
<% else %>
  <p>As you know, as part of your Capstone Challenge Project grade, you will be evaluated by your peers and your
  Leadership Coach for your contributions to your team throughout the Challenge. This means you'll need to spend a few
  minutes right now reflecting on your teammates and evaluating them. Your evaluation will be averaged with all the
  others, resulting in a final Teamwork score for each Fellow in your cohort.</p>
<% end %>

<% unless @eval_users.present? %>
  <p>You have no one to review.</p>
  <p>If you think this is wrong, please reach out to support@bebraven.org.</p>
<% else %>
  <%= form_with(url: course_capstone_evaluation_submissions_path, method: "post", local: true) do |form| %>

    <% @eval_users.each do |user| %>

      <fieldset class="single-capstone-evaluation-wrapper">
        <legend class="capstone-evaluation-full-name">
          <%= user.full_name %>
        </legend>

        <% @questions.each do |question| %>
          <% input_name = "capstone_evaluation[#{user.id}][#{question.id}]" %>
          <% input_id_prefix = "radio-#{user.id}-#{question.id}" %>

          <fieldset class="capstone-evaluation-question-wrapper">
            <legend class="capstone-evaluation-question">
              <%= question.text %>
            </legend>

            <div class="container-fluid p-0">
              <div class="row capstone-evaluation-radios">
                <div class="col-sm pr-0">
                  <input id="<%= input_id_prefix %>-10" type="radio" value="10"
                         name="<%= input_name %>" required>
                  <label for="<%= input_id_prefix %>-10">10 - Always</label>
                </div>

                <div class="col-sm pr-0">
                  <input id="<%= input_id_prefix %>-8" type="radio" value="8"
                         name="<%= input_name %>" required>
                  <label for="<%= input_id_prefix %>-8">8 - Mostly</label>
                </div>

                <div class="col-sm pr-0">
                  <input id="<%= input_id_prefix %>-6" type="radio" value="6"
                         name="<%= input_name %>" required>
                  <label for="<%= input_id_prefix %>-6">6 - Sometimes</label>
                </div>

                <div class="col-sm pr-0">
                  <input id="<%= input_id_prefix %>-4" type="radio" value="4"
                         name="<%= input_name %>" required>
                  <label for="<%= input_id_prefix %>-4">4 - Rarely</label>
                </div>

                <div class="col-sm pr-0">
                  <input id="<%= input_id_prefix %>-0" type="radio" value="0"
                         name="<%= input_name %>" required>
                  <label for="<%= input_id_prefix %>-0">0 - Never</label>
                </div>
              </div>
            </div>

          </fieldset>
        <% end %>

      </fieldset>
    <% end %>

    <input type="hidden" name="lti_launch_id" value="<%= @lti_launch.id %>">
    <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>
