<%= form_with model: @attendance_event do |f| %>
  <div class="form-group w-50">
    <%= f.label :title, "Canvas Assignment Title: " %><br />
    <%= f.text_field :title, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="form-group w-50">
    <%= f.label :event_type %><br />
    <%= f.select :event_type, [
      ["Standard (Learning Labs, etc)", AttendanceEvent::STANDARD_EVENT],
      ["Simple (1:1s)", AttendanceEvent::SIMPLE_EVENT],
    ], {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :redirect_to_course, :value => params[:redirect_to_course] %>

  <div class="actions mb-5">
    <%= f.submit "Save" %>
  </div>
<% end %>
