<%= form_with model: @attendance_event do |f| %>
  <div class="form-group w-50">
    <%= f.label :title, "Canvas Assignment Title: " %><br />
    <%= f.text_field :title, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="form-group w-50">
    <%= f.label :event_type %><br />
    <%= f.select :event_type, [
      ["Learning Lab", AttendanceEvent::LEARNING_LAB],
      ["Leadership Coach 1-1", AttendanceEvent::LEADERSHIP_COACH_1_1],
      ["Orientation", AttendanceEvent::ORIENTATION],
    ], {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :redirect_to_course, :value => params[:redirect_to_course] %>

  <div class="actions mb-5">
    <%= f.submit "Save" %>
  </div>
<% end %>
