<%= form_with(model: course_content_undo, local: true) do |form| %>
  <% if course_content_undo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_content_undo.errors.count, "error") %> prohibited this course_content_undo from being saved:</h2>

      <ul>
        <% course_content_undo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_content_id %>
    <%= form.text_field :course_content_id %>
  </div>

  <div class="field">
    <%= form.label :operation %>
    <%= form.text_area :operation %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
