<% content_for :title, 'Content Editor' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'layouts/content_editor', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'sidebar' %>
  <%= javascript_pack_tag 'content_editor' %>
  <%= javascript_pack_tag 'linked_in_authorization_button' %>
  <%= javascript_pack_tag 'linked_in_authorization_window' %>
<% end %>

<% content_for :content do %>

  <% flash.each do |key, value| %>
    <div class="alert alert-info alert-dismissible fade show show-alert" role="alert">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <ul class="messages">
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>

<% end %>

<%= render template: "layouts/application" %>
