<% content_for :title, 'Braven LTI Extension' unless content_for?(:title) %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'layouts/lti_canvas', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'server_rendering' %>
  <%= javascript_pack_tag 'project_submit_button' %>
  <%= javascript_pack_tag 'linked_in_authorization_button' %>
  <%= javascript_pack_tag 'linked_in_authorization_window' %>
<% end %>

<%# 
Puts the .container bv-lti-container as the root div of the body
in the application layout, but also allows views to add some additional
CSS in order to customize the layout. See waiver_submissions#new for an example.
%>
<% content_for :content do %>

  <div class="container bv-lti-container <%= yield(:additional_container_css) %>">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
